---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
import { products } from '../data';
---

<Layout title="home shop">
  <div class="flex gap-3 items-end">
    <h1 class="text-4xl font-bold">Astro shop</h1>
  </div>
  <h3 class="text-xl text-gray-500">
    Take a look at the products, feel free to buy something
  </h3>
  <div class="flex flex-wrap justify-center sm:justify-normal gap-3 py-8">
    {products.map((product) => <ProductCard {product} />)}
  </div>
</Layout>
